<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuis Pekan 2</title>
</head>
<body>

    <div id="app">
        <div>
            <input type="text" v-model="input_text">
            <button id="btn" v-show="!editing" v-on:click="add">Add</button>
            <button id="btn_edit" v-show="editing" v-on:click="update">Update</button>
        </div>

        <ul>
            <li v-for="(user, index) in users" style="padding-bottom: 20px;">
                {{user.name}}&nbsp;
                <button v-on:click="edit(user)">Edit</button> || <button v-on:click="del(index)">Delete</button>
            </li>
        </ul>

    </div>
    

    <script src="/js/vue.min.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                users: [
                    {
                        'name': 'Muhammad Iqbal Mubarok'
                    },
                    {
                        'name': 'Ruby Purwanti'
                    },
                    {
                        'name' : 'Faqih Muhammad'
                    }
                ],
                editing: false,
                input_text: null,
                selectedUser: {}
            },
            methods: {
                add: function(){
                    if (this.input_text) {
                        this.users.push({'name':this.input_text});
                        this.input_text = null;
                    }
                },
                edit: function(data){
                    this.input_text = data.name;
                    this.selectedUser = data;
                    this.editing = true;
                },
                update: function(){
                    if (this.input_text) {
                        this.selectedUser.name = this.input_text;
                        this.editing = false;
                        this.selectedUser = {}
                        this.input_text = null;
                    }
                },
                del: function(index){
                    if (confirm("Apakah Anda yakin ingin menghapus?")) {
                        this.users.splice(index,1);
                    }
                }
            }
        });
    </script>
</body>
</html>